body{
    font-family: Trispace;
    background-color: #F4E8E8;
}

#heading{
    background-color: #E95555; 
    height: 12vh; 
    width: 100%; 
    color: white;
    
}

#centerFirstRect {
    position: absolute;
    top: 39vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#centerSecondRect{
    position: absolute;
    top: 64vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#diaInput{
    background-color:#E95555; 
    border: #E95555;
    border-radius: 25px;
    padding: 5px;
    color: white;
}

#sysInput{
    background-color:#E95555; 
    border: #E95555;
    border-radius: 25px;
    padding: 5px;
    color: white;
}

#btn_Calculate{
    margin-top: 2vh;
    color: white;
    background-color: #E95555;
    border: #E95555;
    border-radius: 20px;
    width: 35vh;
}