body{
    font-family: Trispace;
    background-color: #F4E8E8;
}

#heading{
    background-color: #E95555; 
    height: 12vh; 
    width: 100%; 
    color: white;
    
}

#centerFirstRect {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  